{% extends 'base.html' %}
{% block content %}
<h3>Following are some links to help you through few of the common computer science topics:</h3>
<br>
<br>
<h4>
   <tr>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.youtube.com/watch?v=5_5oE5lgrhw&list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" target="_blank">&nbsp;&nbsp;YouTube Link For Data Structures And Algorithms</a>
            
      </td>
      <br>
      <br>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.youtube.com/watch?v=j8nAHeVKL08&list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL" target="_blank">&nbsp;&nbsp;YouTube Link For C++</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://docs.python.org/3/tutorial/index.html" target="_blank">&nbsp;&nbsp;Document Link For Python</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django" target="_blank">&nbsp;&nbsp;Website Link For Django</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.youtube.com/playlist?list=PLU6SqdYcYsfKbc7uTvC81snT_IBpfTWXR" target="_blank">&nbsp;&nbsp;YouTube Link For Engineering Mathematics</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.w3schools.com/MySQL/default.asp" target="_blank">&nbsp;&nbsp;Website Link For MySQL</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.w3schools.com/MySQL/default.asp" target="_blank">&nbsp;&nbsp;Website Link For MySQL</a>
            
      </td>
      <br><br>
      <td colspan="15">
         <a class="fas fa-link" href="https://www.geeksforgeeks.org/introduction-linux-shell-shell-scripting/" target="_blank">&nbsp;&nbsp;Website Link For Linux Commands</a>
            
      </td>
      <br><br>
   </tr>
</h4>
<br><br>
{% endblock %}