{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-one w-100">
        <div class="card-body">
            <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <div class="db-info">
                    <h3>{{student_count}}</h3>
                    <h6>Students</h6>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-two w-100">
        <div class="card-body">
            <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                    <i class="fas fa-book"></i>
                </div>
                <div class="db-info">
                    <h3>{{subject_count}}</h3>
                    <h6>Subjects</h6>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-three w-100">
        <div class="card-body">
            <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="db-info">
                    <h3>{{leave_count}}</h3>
                    <h6>Leaves</h6>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="user-profile">
    <h1> &nbsp;&nbsp;&nbsp;My Profile </h1>
    <div class="row">
    <br>
    <br>
    <img class="rounded-circle" src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'assets/img/noIMG.jpeg' %}{% endif %}" width="325" height="325" alt="{{ staff.first_name }} {{ staff.last_name }}">
    <div class="col">
    <h2>{{ staff.first_name }} {{ staff.last_name }}</h2>
    <br>
    <h3><p>Username:&nbsp; {{ staff.username }}</p>
    <p>Gender:&nbsp; {{ staff.gender }}</p>
    <p>Email:&nbsp; {{ staff.staff_email }}</p>
    <p>Course:&nbsp; {{ staff.address}}</p>
    </h3>
    </div>
</div>
    <!-- Add more related information here such as mobile number, parent's names, etc. -->
</div>
{% endblock %}